---
layout: default
---

<div class="home">

<!--  <h1 class="page-heading">Posts</h1>-->
<div class="link-box-row">
    {% for post in site.posts %}
      <a class="text-justify link-box" href="{{ post.url | prepend: site.baseurl }}">
          <div class="link-box-body">
              {% if post.image %}
              <div class="row" >
                  <div class="col-md-12">
                    <img src="/assets/{{ post.image }}" title="{{ post.title }}" width="100%"/>
                    <div class="link-box-image-caption-bg"></div>
                    <div class="carousel-caption" ><h1>{{post.title}}<h1></div>
                </div>
              </div>
              {% else %}
                  <h4 class="row">
                      <span class="index-post-title col-md-7" align="left">{{ post.title }}</span>
                      <span class="post-meta post-date col-md-5" align="right">
                          {{ post.date | date: "%b %-d, %Y" }}
                      </span>
                  </h4>
                  <span class="index-post-excerpt">{{ post.excerpt | strip_html}}</span>
              {% endif %}
          </div>
      </a>
    {% endfor %}
</div>
<div class="row" style="margin-top: 20px">
  <h6 class="rss-subscribe col-xs-4">
      subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </h6>
</div>

</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Blog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5441648651805702"
     data-ad-slot="1563251671"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
