---
layout: default
---

<div class="home">

<!--  <h1 class="page-heading">Posts</h1>-->
<div class="link-box-row">
    {% for post in site.posts %}
      <a class="text-justify link-box" href="{{ post.url | prepend: site.baseurl }}">
          <div class="link-box-body">
              {% if post.image %}
              <div class="row" >
                  <div class="col-md-12">
                    <img src="/assets/{{ post.image }}" title="{{ post.title }}" width="100%"/>
                    <div class="link-box-image-caption-bg"></div>
                    <div class="carousel-caption" ><h1>{{post.title}}<h1></div>
                </div>
              </div>
              {% else %}
                  <h4 class="row">
                      <div class="index-post-title col-md-7">{{ post.title }}</div>
                      <div class="post-meta post-date col-md-5" style="text-align:right">
                          <div style="display:inline-block;text-align:right">
                          {{ post.date | date: "%b %-d, %Y" }}
                        </div>
                      </div>
                  </h4>
                  <span class="index-post-excerpt">{{ post.excerpt | strip_html}}</span>
              {% endif %}
          </div>
      </a>
    {% endfor %}
</div>
<div class="row" style="margin-top: 20px;clear:both;">
  <h6 class="rss-subscribe col-xs-4">
      subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </h6>
</div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(document).ready(function() {
 if ($(document).width() > 790) {
   for (var i=2, l = $('.link-box').length; i < l; i++){
        var prevel = $('.link-box')[i-2];
        var el     = $('.link-box')[i];

        var loc = $(prevel).height() + $(prevel).position().top;

        $(el).offset({top: loc + 30});

   }
 }
});
</script>
